<md-toolbar layout="row">
  <h2 class="md-toolbar-tools" flex>
    <span>Mocked API reporting</span>
  </h2>
  <form name="apiForm" class="api-version" flex>
    <div ng-repeat="version in model.apiArray">
      <md-checkbox ng-model="model.checkboxModelsApi[version]" ng-disabled="model.hasToShowLatestVersionsOnly" class="api-version-elem"> {{ version | number:1 }}
    </div>
  </form>
  <form name="methodForm" class="method-name" flex>
    <div ng-repeat="method in model.methodsArray">
      <md-checkbox ng-model="model.checkboxModelsMethod[method]" ng-disabled="model.hasToShowLatestVersionsOnly" class="api-version-elem"> {{ method }}
    </div>
  </form>
  <md-button class="md-raised" ng-class="model.unFoldMode ? 'md-warn' : ''" ng-click="toggleUnFoldMode()">Print mode</md-button>
  <md-button class="md-raised" ng-class="model.hasToShowLatestVersionsOnly ? 'md-warn' : ''" ng-click="showLatestVersionsOnly()">Latest versions only</md-button>
  <md-card style="background-color: white" flex="20">
    <md-input-container style="padding-bottom: 0px;">
      <label><i class="fa fa-search"></i> Resource name</label>
      <input ng-model="model.search.searchText">
    </md-input-container>
  </md-card>
</md-toolbar>
<div class="doc-content">
  <md-card
  ng-repeat="resource in model.generatedData | filter:{resourcePath: model.search.searchText} | filter:filterResourcesBasedOnVersion | orderBy:'-version'" 
  class="md-whiteframe-z2 medium-margin fast-anim">
    <md-content class="md-padding" >
      <div ng-if="!model.unFoldMode">
        <tabset>
          <tab heading="GENERAL">
            <div ng-include="'app/views/resource-general.html'"></div>
          </tab>
          <tab heading="SCHEMAS" ng-if="resource.schemas">
              <div ng-include="'app/views/resource-schemas.html'"></div>
          </tab>
          <tab heading="SCREENS" ng-if="isThereImages(resource)">
              <div ng-include="'app/views/resource-screens.html'"></div>
          </tab>
        </tabset>
      </div>
      <div ng-if="model.unFoldMode">
        <div ng-include="'app/views/resource-general.html'"></div>
        <div ng-include="'app/views/resource-schemas.html'"></div>
        <div ng-include="'app/views/resource-screens.html'"></div>
      </div>
    </md-content>
  </md-card>
  <md-card ng-hide="searchSuccess()">
    <md-content class="md-padding">
      <h2>No result for resource path : {{model.search.searchText}}</h2>
    </md-content>
  </md-card>
</div>