          <h2 ng-if="resource.method === 'GET'" class="api-title">
            <i class="fa fa-cloud"></i> <a ng-href="{{resource.resourcePath}}">{{resource.resourcePath}}</a>
          </h2>
          <h2 ng-if="resource.method !== 'GET'" class="api-title">
            <i class="fa fa-cloud"></i> {{resource.resourcePath}}
          </h2>
          <h3 class="api-content">
            <md-divider ng-if="resource.readme"></md-divider>
            <div btf-markdown="resource.readme"></div>
            <md-divider ng-if="resource.readme"></md-divider>
            <i class="fa fa-database"></i> Content: 
            <json-explorer data="resource.content" collapsed="!model.unFoldMode"></json-explorer>
          </h3>
          <h3>
            <i class="fa fa-cogs"></i> Options:
            <json-explorer data="resource.options" collapsed="!model.unFoldMode"></json-explorer>
          </h3>
          <h3 class="api-content">
            <i class="fa fa-database"></i> Payload content: 
            <json-explorer data="resource.contentPayload" collapsed="!model.unFoldMode"></json-explorer>
          </h3>