          <h2 ng-if="resource.method === 'GET'" class="api-title">
            <i class="fa fa-cloud"></i> <a ng-href="{{resource.resourcePath}}">{{resource.resourcePath}}</a>
          </h2>
          <h2 ng-if="resource.method !== 'GET'" class="api-title">
            <i class="fa fa-cloud"></i> {{resource.resourcePath}}
          </h2>
          <h3 class="api-content">
            <md-divider ng-if="resource.readme"></md-divider>
            <div btf-markdown="resource.readme"></div>
            <md-divider ng-if="resource.readme"></md-divider>
            <i class="fa fa-database"></i> Content: 
            <div style="white-space: pre-wrap;">{{formatJson(resource.content)}}</div>
          </h3>
          <h3>
            <i class="fa fa-cogs"></i> Options:
              <div style="white-space: pre-wrap;">{{formatJson(resource.options)}}</div>
          </h3>
          <h3 class="api-content">
            <i class="fa fa-database"></i> Payload content:
              <div style="white-space: pre-wrap;">{{formatJson(resource.contentPayload)}}</div>
          </h3>