div, span {
  font-family: RobotoDraft, Roboto, 'Helvetica Neue', sans-serif;
}

form.api-version,form.method-name {
  float: right;
  margin: 0;
  padding-top: 9px;
}

h2.md-toolbar-tools {
  margin-top: 7px;
}

h2.api-title {
  float:left;
  margin-bottom: 15px;
}

h3.api-content {
  clear:both;
}

h4.pastille {
  float:right;
  padding: 5px;
  margin-top: 0;
}

h4.method {
  margin-left: 7px;
  background-color: orange;
  color:white;
}

h4.version {
  background-color: rgba(255,64,129,0.87);
  color:white;
}

h4.sprint {
  background-color: rgb(57, 128, 221);
  color:white;
  margin-right:7px;
}

h4.valid {
  background-color:green;
  color:white;
  margin-right: 7px;
}

h4.invalid {
  background-color:red;
  color:white;
  margin-right: 7px;
}

md-divider.md-default-theme {
  margin-bottom: 7px;
}

.api-version-elem {
  float: left;
  margin:0;
  padding: 13px;
}

.doc-content {
  max-width: 864px;
  margin: auto;
}

.medium-margin{
	margin: 20px;
}

.ng-enter, 
.ng-leave { 
    transition: 300ms cubic-bezier(0.250, 0.460, 0.450, 0.940) all;
    position: relative;
    display: block;
} 

.fast-anim.ng-enter, 
.fast-anim.ng-leave { 
    transition: 250ms cubic-bezier(0.250, 0.460, 0.450, 0.940) all;
    position: relative;
    display: block;
} 
 
.ng-leave.ng-leave-active,
.ng-enter {
    opacity: 0;
}
 
.ng-enter.ng-enter-active,
.ng-leave {
    opacity: 1;
}

.md-button.md-default-theme.md-raised {
  height: 37px;
  margin: 17px 7px;
}

md-toolbar.md-default-theme {
  position: fixed;
  top: 0px;
}

md-card.search.md-default-theme {
  background-color: white;
  position: fixed;
  top: 78px;
  right: 0px;
}

.mock-image {
  width: 33.33%;
  cursor: pointer;
}

.doc-content {
  padding-top: 100px;
}